/* RESET -YA
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=New+Amsterdam&family=Squada+One&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Squada One", sans-serif !important;
    font-weight: 400;
    font-style: normal;
} */

/*! ----------------------------------------- BODY -----------------------------*/


/*! ---------------------------------------- HEADER ----------------------------*/
/* header {
    background-color: rgb(231, 231, 230);
    top: 0;
    z-index:7;
    position: sticky;
} */

/* .navbar-nav .nav-link{
    font-size:21px;
    align-content:space-evenly;
} */

/* header .navbar-brand {
    font-size: 60px;
    font-weight: bold;
    font-style: oblique;
    color: rgb(94, 7, 7);
} */

/* header nav ul li a:hover {
    border-radius: 5px;
    background-color: rgba(250, 235, 215, 0.288);
    color: rgb(94, 7, 7);
    font-weight: bold;
} */

/*!-------------------WhatsApp ICON-----------------------*/
/* .whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 7;
}

.whatsapp img{
    width: 18px;
    height: 18px;
} */

/*! ------------------------------- SECTION HEROE--------------------------------*/
/* .heroe {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
} */

/* .heroe div {
    width: 50%;
    color: rgb(8, 8, 8);
    font-size: large;
    padding: 5rem;
} */

/* .heroe h2 {
    color: rgb(0, 0, 0);
    font-size: 4rem;
} */


/* .heroe img {
    width: 30rem;
    height: 30rem;
    border-radius: 10px;
} */

/* .botones {
    margin-bottom: 30px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 10px;
    color: black;
}

.botones a {
    color: aliceblue;
    text-decoration: none;
    background-color: rgb(94, 7, 7);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 4px;
    font-size: 15px;
}

.botonHeroe:hover {
    background-color: #3d0404b7;
} */

.textosHeroe{
    width: 100%;
}


/*!--------------------------------Seccion features----------------------------------*/
/* .features {
    text-align: center;
    background-color: rgb(231, 231, 230);
    padding: 1rem;
} */

/* .features .featuresContenedor {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "featureCreate featureUpdate featurePrioritize featureDelete";
    margin-bottom: 1rem;
} */

/* .featureCreate {
    grid-area: featureCreate;
    height: 100%;
} */

/* .featureUpdate {
    grid-area: featureUpdate;
    height:100%;
} */

/* .featurePrioritize {
    grid-area: featurePrioritize;
    height:100%;
} */

/* .featureDelete {
    grid-area: featureDelete;
    height:100%;
} */

/* .features h2 {
    font-size: 50px;
    padding-top: 3rem;
    padding-bottom: 1rem;
} */

/* .features p {
    padding-bottom: 2rem;
} */

/*!-------------------------------------------SECCION VIDEO-----------------------*/
/* .video {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */

/* .video h2 {
    font-size: 50px;
    padding-top: 6rem;
    text-align: center;
} */

/* .video p {
    font-size: larger;
} */

/* .video iframe {
    margin-top: 10rem;
    margin-bottom: 2rem;
} */

/*! -----------------------------------------HISTORIAS DE EXITO----------------------*/
/* .historias{
    background-color: rgb(231, 231, 230);
} */
/* .historias h3 {
    font-size: 50px;
    padding-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
} */

/* .historias a {
    color: aliceblue;
    text-decoration: none;
    background-color: rgb(94, 7, 7);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 4px;
    font-size: 15px;
} */

/* .carousel-item img {
  width: 100%;
  height: 200px;
  margin-bottom: 90px;
} */

/* .container{
    border-color: black;
    width: 100%;
} */

/* .carousel-control-next-icon {
    border-radius: 100px;
    background-color: rgba(94, 7, 7, 0.367);
}

.carousel-control-prev-icon {
    border-radius: 100px;
    background-color: rgba(94, 7, 7, 0.367);
} */

/* #sliderHistorias{
    background-color: rgb(231, 231, 230);
} */

/*! --------------------------------Sección preguntas frecuentes------------------------*/
/* .preguntas {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    z-index: 6;
} */

/* .preguntas h3 {
    font-size: 40px;
    padding-top: 6rem;
    margin-bottom: 1rem;
    text-align: center;
} */
/* 
.preguntas .accordion-button:hover {
    background-color: rgba(203, 67, 67, 0.045);
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
} */
/*!--------------------------------------------FOOTER------------------------------------*/
/* footer {
    background-color: rgb(99, 128, 154);
    text-align: center;
} */

/* .footerContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.5fr 2fr 2fr 3.5fr;
    grid-template-areas:
        "resourcesImg resources footerIcons direction";
    width: 100%;
} */

/* .resourcesImg {
    grid-area: resourcesImg;
}

.resources {
    grid-area: resources;
}

.footerIcons {
    grid-area: footerIcons;
}

.direction {
    grid-area: direction;
} */

/* .direction p {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
} */

/* footer h4 {
    font-size: larger;
    margin: 2rem;
    color: aliceblue;
} */

/* footer ul li a {
    color: rgba(19, 20, 21, 0.571);
    text-decoration: none;
} */

/* footer ul li a:hover {
    color: rgb(19, 20, 21);
} */

/* footer ul {
    margin: 5px;
    padding: 0px;
} */

/* footer ul li {
    list-style: none;
    margin: 25px;
} */

/* footer img {
    height: 10%;
    width: fit-content;
    margin: 10%;
} */

/* .footerIcons img {
    width: 30px;
    height: 30px;
} */

/* footer iframe {
    width: 100%;
    height: 300px;
    padding: 1rem;
    border-radius: 20px;
} */

/*------------------------------------------PRICING PAGE-----------------------*/
/* .pricing1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: justify;
}

.pricing1 h1 {
    margin-bottom: 1rem;
    font-size: 100px;
    text-align: center;
    color: rgb(94, 7, 7);
}

.pricing1 img {
    width: 600px;
    height: 600px;
}

.pricing1 p {
    text-align: center;
    font-size: larger;
    font-weight: bold;
} */

/*----------------------------------------FEATURES PAGE---------------------------------*/
/* .featuresPage1 {
    text-align: center;
    font-size: larger;
    margin-bottom: 30rem;
} */

/*---------------------------------------ABOUT US PAGE---------------------------------*/
/* .aboutusPage1 {
    text-align: center;
    font-size: larger;
    margin-bottom: 30rem;
} */

/*---------------------------------------CONTACT PAGE---------------------------------*/
/* .contactPage1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: larger;
    margin-top: 15%;
    margin-bottom: 3rem;
} */

/* .formularioContenedor {
    width: 60%;
    border: solid rgb(94, 7, 7);
    border-radius: 5px;
    padding: 12px;
} */

/* .formularioContenedor .form-control {
    margin: 5px;
} */

/* .formularioContenedor .espacio {
    display: flex;
    flex-direction: column;
} */

/* .heroeContact{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100vh auto;
    grid-template-areas:
    "botones botones botones"
    "izquierda izquierda derecha";
    align-content: space-evenly;
} */

/* .gift{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
} */
/* .gift img{
    position: relative;
    left:45vh;
    height: 20vh;
} */

/* .izquierda{
    grid-area: izquierda;
    border: solid;
    border-color:rgb(94, 7, 7);
    border-radius: 10px;
    margin-left:10%;
    margin-top:5%;
    margin-right: 5%;
    width:80%;
    text-align: center;
} */
/* .izquierda h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:rgb(94, 7, 7);
} */
/* .izquierda p{
    text-align: center;
    font-size: 15px;
    padding-left:5%;
    padding-right: 5%;
} */
/* .imagenesIzquierda{
    width: 80%;
    margin-bottom:15%;
    padding: 5%;
} */
/* .derecha{
    grid-area: derecha;
    width: 100%;
    margin-right: 10%;
}
.botones{
    grid-area: botones;
} */

/* .botones h2{
    font-size: 45px;
    color: rgb(94, 7, 7);
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
} */
/* .botones h3{
    font-size: 25px;
    text-align: center;
    margin-bottom: 10vh;
} */
/* .textosDerecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    position:sticky;
    top: 200px;
    bottom: 100px;
} */
/* .textosDerecha img{
    height: 30%;
    width: 30%;
    align-items: center;
    align-content: center;
} */
/* .textosDerecha p{
    margin-top: 5%;
    font-size: 20px;
} */

/* @media screen and (max-width:1000px) {
    .formularioContenedor{
    width: 80%;
    }
    .contactPage1 p{
        width: 80%;
    }
    .gift img{
        position: relative;
        left:30vh;
        height: 20vh;
    }
} */
@media screen and (max-width:845px) {
    .formularioContenedor{
    width: 90%;
    }
    .contactPage1 p{
        width: 90%;
        }
    .derecha p{
        font-size: 15px;
    }
}
@media screen and (max-width:660px){
.heroeContact h2{
    font-size: 30px;
}
.heroeContact h3{
    font-size: 15px;
}
.gift img{
    position: relative;
    left:20vh;
    height: 20vh;
}
.izquierda h2{
font-size: 25px;
}
.izquierda p{
font-size: 12px;
}
}

@media screen and (max-width:490px){
    .contactPage1 h2{
        font-size: 25px;
    }
    .contactPage1 p{
        font-size: 15px;
    }
    .gift img{
        position: relative;
        left:10vh;
        height: 10vh;
    }
    .izquierda h2{
        font-size: 20px;
        }
}



/*-----------------------------------REACTIVO INDEX-----------------------------------------------------------------------------------------------*/
@media screen and (max-width:1490px) {
    header nav ul li {
        font-size: 19px;
    }
}

@media screen and (max-width:1412px) {
    header nav ul li {
        font-size: 18px;
    }
}

@media screen and (max-width:1375px) {
    header nav ul li {
        font-size: 17px;
    }
}

@media screen and (max-width:1335px) {
    header nav ul li {
        font-size: 16px;
    }
}

@media screen and (max-width:1150px) {
    .heroe h2 {
        font-size: 56px;
    }

    .heroe img {
        align-content: center;
        justify-content: center;
        margin: 0px;
        width: 350px;
        height: 350px;
    }

    .textosHeroe h2 {
        font-size: 50px;
    }

    .textosHeroe p {
        font-size: 15px;
    }

    .whatsapp {
        position: fixed;
        bottom: 50px;
        right: 5px;
        z-index: 6;
    }

    .features h2 {
        font-size: 45px;
    }

    .featuresContenedor h3 {
        font-size: 16px;
    }

    .featuresContenedor p {
        font-size: 12px;
    }

    .video div {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .video h2 {
        font-size: 45px;
    }

    .video p {
        font-size: 16px;
    }

    .video iframe {
        margin-top: 3rem;
        width: 400px;
        height: 280px;
    }

    .historias h3 {
        padding: 2rem;
        margin-bottom: 0rem;
    }

    .historias .historiasContenedor img {
        width: 100px;
        height: 90px;
        margin-bottom: 10px;
    }

    .contenedor1 {
        margin: 0px;
        padding: 0px;
    }

    .historias .contenedor1 img {
        margin: 0px;
        margin-bottom: 10px;

    }

    .historias .historiasContenedor a {
        padding: 0px;
        margin: 0px;
    }

    .preguntas {
        padding-top: 1rem;
    }

    .preguntas h3 {
        padding: 0px;
        margin: 0px;
    }
}

@media screen and (max-width:961px) {
    .features .featuresContenedor {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "featureCreate featureUpdate"
            "featurePrioritize featureDelete";
        align-items: center;
        align-content: center;
    }

    .featureCreate {
        grid-area: featureCreate;
        width: 100%;
    }

    .featureUpdate {
        grid-area: featureUpdate;
        width: 100%;
    }

    .featurePrioritize {
        grid-area: featurePrioritize;
        width: 100%;
    }

    .featureDelete {
        grid-area: featureDelete;
        width: 100%;
    }
}

@media screen and (max-width:890px) {
    .heroe img {
        width: 300px;
        height: 300px;
    }

    .heroe h2 {
        font-size: 40px;
    }

    .features h2 {
        font-size: 40px;
        padding-top: 3rem;
    }

    .video h2 {
        font-size: 40px;
        padding-top: 3rem;
    }
}

@media screen and (max-width:760px) {
    .preguntas {
        padding-top: 5rem;
    }
    .imagenHeroe img{
    width: 100%;
}
    .heroe div {
        width: 80%;
        padding: 2rem;
        margin: 0px;
    }
}

@media screen and (max-width:695px) {
    .heroe {
        display: flex;
        flex-direction: column;
        align-content: space-evenly;
    }

    .textosHeroe {
        align-items: baseline;
        align-content: space-between;
    }

    .heroe div {
        padding: 0px;
        margin: 0px;
    }

    .heroe img {
        margin-bottom: 15px;
    }

    .whatsapp {
        position: fixed;
        bottom: 50px;
        right: 0px;
        z-index: 6;
    }

    .features p{
        margin-bottom: 1px;
        padding-bottom: 3px;
    }

    .features img{
        margin-bottom: 20px;
    }
    .featureCreate{
        border:solid;
        border-color: rgb(206, 204, 204);
    }
    .featureDelete{
        border:solid;
        border-color: rgb(206, 204, 204);
    }
    .featurePrioritize{
        border:solid;
        border-color: rgb(206, 204, 204);
    }
    .featureUpdate{
        border:solid;
        border-color: rgb(206, 204, 204);
    }

    .footerContainer {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 0.5fr 2.5fr 2.5fr;
        grid-template-areas:
            "resourcesImg resources footerIcons"
            "direction direction direction";
        width: 100%;
    }

    .resourcesImg {
        grid-area: resourcesImg;
    }

    .resources {
        grid-area: resources;
    }

    .footerIcons {
        grid-area: footerIcons;
    }

    .direction {
        grid-area: direction;
    }

    .direction p {
        align-items: center;
        align-content: center;
        text-align: center;
        width: 100%;
    }

    footer h4 {
        font-size: larger;
        margin: 0.5rem;
        color: aliceblue;
    }

    footer ul li a {
        color: rgba(19, 20, 21, 0.571);
        text-decoration: none;
    }

    footer ul li a:hover {
        color: rgb(19, 20, 21);
    }

    footer ul {
        margin: 2px;
        padding: 0px;
    }

    footer ul li {
        list-style: none;
        margin: 15px;
    }

    footer img {
        height: 10%;
        width: fit-content;
        margin: 10%;
    }

    .footerIcons img {
        width: 25px;
        height: 25px;
    }

    footer iframe {
        width: 100%;
        height: 250px;
        padding: 1rem;
        border-radius: 20px;
    }

}

@media screen and (max-width:510px) {
    .heroe {
        display: flex;
        flex-direction: column;
    }

    .heroe .textosHeroe {
        width: 100%;
        padding: 5%;
    }

    .imagenHeroe img {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
        padding: 0px;
    }

    .textosFeatures h2 {
        font-size: 30px;
        padding: 5px;
    }

    .features .featuresContenedor {
        margin-top: 1rem;
    }

    .video h2{
        font-size: 30px;
    }
    .video iframe {
        margin-top: 2rem;
        width: 300px;
        height: 180px;
    }
    .historias h3{
        font-size: 30px;
    }
    .preguntas h3 {
        font-size: 23px;
        margin-bottom: 3px;
    }

    .preguntas .accordion{
        font-size: 13px;
    }
    .preguntas .accordion-button{
        font-size: 15px;
    }
}

@media screen and (max-width:961px) {
}